﻿@{
    ViewData["Title"] = "Kitap Gurmesi";
}

<div class="text-center">
    <h1 class="display-4 fs-4 fw-bold p-3">Kitap Gurmesi Platformuna Hoşgeldiniz.</h1>
    <p class="text-start p-3">Platform üzerinden merak ettiğiniz kitaplar için hangi yorumların yapıldığını görebilir hatta dilerseniz sizlerde yorum yaparak katkıda bulunabilirsiniz.</p>
</div>

