@model IEnumerable<KitapGurmesi.Web.Models.Entities.Category>

@{
    Layout = null;
}

<div class="card" style="width: 18rem;">
    <div class="card-header bg-secondary text-light">
        <strong>Kategoriler</strong>
    </div>
     <div class="list-group list-group-flush">
        @foreach (var category in Model)
        {
            <a asp-controller="Book" asp-action="Index" asp-route-id="@category.CategoryGuid" class="list-group-item list-group-item-action">@category.Name</a>
        }
    </div>
</div>