@{
    ViewData["Title"] = "Kitap Gurmesi | Access Denied";
}

<div class="p-3">
    <strong>Yetkisiz Erişim Problemi</strong>
    <hr/>
    <p>
        Erişmeye çalıştığınız erişiminiz bulunmamaktadır.
        <br/>
        Lütfen yeniden login olmak için <a asp-controller="Account" asp-action="Login"><strong>Tıklayınız</strong></a>
        <br/>
        yada ana sayfaya yönlendirilmek için <a asp-controller="Home" asp-action="Index"><strong>Tıklayınız</strong></a>
    </p>
</div>
