@model UserAddVM

@{
    ViewData["Title"] = "Kitap Gurmesi | Giriş Yap";
}

<form asp-action="SignUp" method="post">
    <div class="text-center pt-2">
        <h1 class="fs-3 fw-bold">Üye Ol</h1>
        <hr/>
        <div asp-validation-summary="All" class="d-flex justify-content-center text-danger"></div>
        <div class="d-flex justify-content-center">
            <div class="card text-start" style="width: 25rem;">
                <div class="card-body">
                    <div class="mb-3">
                        <label for="username" class="form-label fw-bold">Kullanıcı Adı</label>
                        <input asp-for="UserName" type="text" class="form-control" id="username" placeholder="kullanıcı adınızı giriniz">
                    </div>

                    <div class="mb-3">
                        <label for="email" class="form-label fw-bold">Email Adresi</label>
                        <input asp-for="Email" type="text" class="form-control" id="email" placeholder="email adresinizi giriniz">
                    </div>

                    <div class="mb-3">
                        <label for="password" class="form-label fw-bold">Parola</label>
                        <input asp-for="Password" type="password" class="form-control" id="password" placeholder="parolanızı giriniz">
                    </div>

                    <div class="mb-3">
                        <label for="comparepassword" class="form-label fw-bold">Parola Tekrarı</label>
                        <input asp-for="ComparePassword" type="password" class="form-control" id="comparepassword" placeholder="parolanızı yeniden giriniz">
                    </div>

                    <div class="mb-3 text-end">
                        <button type="submit" class="btn btn-warning">Giriş Yap</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>