﻿@using System.Security.Claims
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - KitapGurmesi.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/KitapGurmesi.Web.styles.css" asp-append-version="true"/>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand fw-bold" asp-area="" asp-controller="Home" asp-action="Index">Kitap Gurmesi</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    @* <li class="nav-item"> *@
                    @*     <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Anasayfa</a> *@
                    @* </li> *@
                </ul>
            </div>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1 justify-content-end">
                    @if (false == User.Identity?.IsAuthenticated)
                    {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="SignUp">Üye Ol</a>
                        </li>
                        <li class="nav-item bg-black rounded-3">
                            <a class="nav-link text-light fw-bold" asp-area="" asp-controller="Account" asp-action="Login">Giriş Yap</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <span class="nav-link text-dark">Merhaba, <strong>@User.Identity.Name</strong></span>
                        </li>

                        <li class="nav-item bg-danger rounded-3">
                            <a class="nav-link text-light fw-bold" asp-area="" asp-controller="Account" asp-action="Logout">Çıkış Yap</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <div class="row">
        <div class="col-3">
            @if (true == User.Identity?.IsAuthenticated)
            {
                <div class="card" style="width: 18rem;">
                    <div class="card-header bg-secondary text-light">
                        <strong>Yönetim</strong>
                    </div>
                    <div class="list-group list-group-flush">
                        @if (User.IsInRole("Admin"))
                        {
                            <a asp-controller="Manager" asp-action="Index" class="list-group-item list-group-item-action">Kullanıcı Listesi</a>
                            <a asp-controller="Manager" asp-action="RoleList" class="list-group-item list-group-item-action">Role Listesi</a>
                            <a asp-controller="Book" asp-action="IndexWithoutCategory" class="list-group-item list-group-item-action">Kitap Listesi</a>
                            @* <a asp-controller="Book" asp-action="CommentsList" class="list-group-item list-group-item-action">Yorumlar</a> *@
                        }
                        else
                        {
                            <a asp-controller="Book" asp-action="CommentsList" asp-route-id="@User.Claims.FirstOrDefault(p => p.Type == ClaimTypes.NameIdentifier).Value" class="list-group-item list-group-item-action">Yorumlarım</a>
                        }
                    </div>
                </div>
                <br/>
            }

            @await Component.InvokeAsync("Category")
            
        </div>
        <main role="main" class="col-9 bg-light p-2 rounded-3 border border-1">
            @RenderBody()
        </main>
    </div>
</div>

<footer class="border-top footer text-muted">
    <div class="container text-center">
        &copy; 2024 - <strong>Kitap Gurmesi</strong> | Kitapların Yorumlarla Zenginleştiği Platform
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>