@model RoleAddVm

@{
    ViewBag.Title = "Kitap Gurmesi | Kullanıcı Rol Ekle";
}

<form asp-controller="Manager" asp-action="RoleAdd" method="post">
    <div class="text-center pt-2">
        <h2 class="fs-3 fw-bold">Yeni Rol Tanımlama</h2>
        <hr/>
        <div asp-validation-summary="All" class="d-flex justify-content-center text-danger"></div>
        <div class="d-flex justify-content-center">
            <div class="card text-start" style="width: 25rem;">
                <div class="card-body">
                    <div class="mb-3">
                        <label for="roleName" class="form-label fw-bold">Rol Adı</label>
                        <input asp-for="Name" type="text" class="form-control" id="roleName" placeholder="Rol adını giriniz">
                    </div>
                    <div class="mb-3 text-end">
                        <button type="submit" class="btn btn-warning">Ekle</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>