@model IEnumerable<KitapGurmesi.Web.Models.Entities.AppRole>

@{
    ViewBag.Title = "Kitap Gurmesi | Kullanıcı Rol Listesi";
}

<h2 class="fs-5 fw-bold">Kullanıcı Rol Listesi</h2>
<hr/>

<a asp-controller="Manager" asp-action="RoleAdd" class="btn btn-warning">Yeni Role Ekle</a>

<table class="table table-sm table-bordered table-striped table-light table-hover mt-3 p-1">
    <thead>
    <tr class="text-center fw-bold">
        <th scope="col">Id</th>
        <th scope="col">Rol Adı</th>
        <th scope="col">Kullanıcılar</th>
        <th scope="col">İşlemler</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var role in Model)
    {
        <tr>
            <td>@role.Id</td>
            <td>@role.Name</td>
            <td asp-role-users="@role.Id"></td>
            <td>
                <button class="btn btn-sm btn-warning">Düzenle</button>
                <button class="btn btn-sm btn-danger">Sil</button>
            </td>
        </tr>
    }
    </tbody>
</table>