@model IEnumerable<KitapGurmesi.Web.Models.Entities.AppUser>

@{
    ViewBag.Title = "Kitap Gurmesi | Kullanıcı Listesi";
}

<h2 class="fs-5 fw-bold">Kullanıcı Listesi</h2>
<hr/>

<table class="table table-sm table-bordered table-striped table-light table-hover mt-3 p-1">
    <thead>
    <tr class="text-center fw-bold">
        <th scope="col">Id</th>
        <th scope="col">Kullanıcı Adı</th>
        <th scope="col">Email</th>
        <th scope="col">İşlemler</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.Id</td>
            <td>@user.UserName</td>
            <td>@user.Email</td>
            <td>
                <a asp-action="UserEdit" asp-controller="Manager" asp-route-id="@user.Id" class="btn btn-sm btn-warning">Düzenle</a>
                <a asp-action="UserDelete" asp-controller="Manager" asp-route-id="@user.Id" class="btn btn-sm btn-danger">Sil</a>
            </td>
        </tr>
    }
    </tbody>
</table>