@model UserEditVM

@{
    ViewBag.Title = "Kitap Gurmesi | Kullanıcı Güncelleme Ekranı";
}

<h2 class="fs-5 fw-bold">Kullanıcı Güncelleme Ekranı</h2>
<hr/>

<form asp-action="UserEdit" asp-controller="Manager" method="post">
    <div class="text-center pt-2">
        <h2 class="fs-3 fw-bold">Kullanıcı Bilgileri</h2>
        <hr/>
        <div asp-validation-summary="All" class="d-flex justify-content-center text-danger"></div>
        <div class="d-flex justify-content-center">
            <div class="card text-start" style="width: 50rem;">
                <div class="card-body">
                    <div class="mb-3">
                        <label for="userName" class="form-label fw-bold">Kullanıcı Adı</label>
                        <input asp-for="UserName" type="text" class="form-control" id="userName" placeholder="Kullanıcı adını giriniz" value="@Model.UserName"/>
                    </div>

                    <div class="mb-3">
                        <label for="email" class="form-label fw-bold">Email</label>
                        <input asp-for="Email" type="text" class="form-control" id="email" placeholder="Kullanıcı adını giriniz" value="@Model.Email"/>
                    </div>

                    <div class="mb-3">
                        <label for="password" class="form-label fw-bold">Şifre</label>
                        <input asp-for="Password" type="password" class="form-control" id="password" placeholder="Yeni kullanıcı şifresini giriniz"/>
                        <span style="font-size: 0.75rem !important;">Şifre bilgisini güncellemek istemiyorsanız bu alanı <strong>boş bırakınız</strong>. Şifre bilgisini güncelleyecekseniz lütfen 5 karakterden büyük bir parola giriniz.</span>
                    </div>
                    
                    <div class="mb-3">
                        <span class="fs-5 fw-bold">Roller</span>
                        <br/>
                        @foreach (var role in ViewBag.RoleList)
                        {
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" name="SelectedRoles" id="@role" value="@role" @(Model.SelectedRoles.Any(a => a.Equals(role)) ? "checked" : "")/>
                                <label for="@role" class="form-check-label">@role</label>
                            </div>
                        }
                    </div>

                    <div class="mb-3 text-end">
                        <button type="submit" class="btn btn-warning">Güncelle</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <input name="Id" type="hidden" value="@Model.Id"/>
</form>