@using KitapGurmesi.Web.Models.Entities
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model BookAddVM

@{
    ViewData["Title"] = "Kitap Gurmesi | Kitap Ekle";
}


<form asp-action="BookAdd" asp-controller="Book" method="post">
    <div class="text-center pt-2">
        <h2 class="fs-3 fw-bold">Kitap Bilgileri</h2>
        <hr/>
        <div asp-validation-summary="All" class="d-flex justify-content-center text-danger"></div>
        <div class="d-flex justify-content-center">
            <div class="card text-start" style="width: 50rem;">
                <div class="card-body">
                    <div class="mb-3">
                        <label for="Name" class="form-label fw-bold">Kitap Adı</label>
                        <input asp-for="Name" type="text" class="form-control" id="Name" placeholder="Kitap adını giriniz."/>
                    </div>

                    <div class="mb-3">
                        <label for="Description" class="form-label fw-bold">Kitap İçeriği</label>
                        <textarea asp-for="Description" class="form-control" id="Description" style="height: 200px;" placeholder="Kitap içeriğini giriniz"></textarea>
                    </div>

                    <div class="mb-3">
                        <label for="EanCode" class="form-label fw-bold">EAN Kodu</label>
                        <input asp-for="EanCode" type="text" class="form-control" id="EanCode" placeholder="EAN kodunu giriniz."/>
                    </div>

                    <div class="mb-3">
                        <span class="fs-5 fw-bold">Yazar</span>
                        <br/>
                        @foreach (var author in ViewBag.AuthorList as List<Author>)
                        {
                            <div class="form-check">
                                <input type="radio" class="form-check-input" name="AuthorGuid" id="@author.AuthorGuid" value="@author.AuthorGuid"/>
                                <label for="@author.AuthorGuid" class="form-check-label">@author.Name @author.Surname</label>
                            </div>
                        }
                    </div>

                    <div class="mb-3">
                        <span class="fs-5 fw-bold">Kategoriler</span>
                        <br/>
                        @foreach (var category in ViewBag.CategoryList as List<Category>)
                        {
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" name="SelectedCategories" id="@category.CategoryGuid" value="@category.CategoryGuid"/>
                                <label for="@category.CategoryGuid" class="form-check-label">@category.Name</label>
                            </div>
                        }
                    </div>

                    <div class="mb-3 text-end">
                        <button type="submit" class="btn btn-warning">Yeni Kitap Ekle</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>