@using System.Security.Claims
@model KitapGurmesi.Web.Models.Entities.Book

@{
    ViewData["Title"] = "Kitap Gurmesi | Kitaplar";
}

<div class="card mb-3">
    <div class="card-header">
        <strong>Kategoriler :</strong> @string.Join(" | ", Model.Categories.Select(s => s.Name).ToList()) &emsp; &emsp; <strong>Yazar :</strong> @string.Concat(Model.Author?.Name, " ", Model.Author?.Surname)
    </div>
    <div class="card-body">
        <h5 class="card-title fs-6 mb-3" style="font-size: 0.90rem !important;"><strong>Kitap:</strong> @Model.Name &emsp; | &emsp; <strong>EAN</strong> @Model.EanCode &emsp; | &emsp; <strong>Oluşturulma Tarihi:</strong> @Model.CreatedDate.ToString("yyyy-MM-dd HH:mm")</h5>
        <p class="card-text">@Model.Description</p>

        <h3 class="mt-5 mb-2 bg-secondary text-light p-2 rounded-3 mb-2">Yorumlar</h3>

        @if (true != User.Identity?.IsAuthenticated)
        {
            <div class="alert alert-warning" role="alert">
                Yorum yapabilmek için lütfen giriş yapınız.
            </div>
        }
        else
        {
            <form asp-action="BookCommentAdd" asp-controller="Book" asp-route-id="@Model.BookGuid" method="post">
                <div class="card mb-4 rounded-3">
                    <div class="card-body">
                        <div class="form-floating mb-3">
                            <input name="CommentHeader" type="commentHeader" class="form-control" id="commentHeader" placeholder="Yorum başlığı">
                            <label for="commentHeader">Yorum Başlığı</label>
                        </div>

                        <div class="form-floating">
                            <textarea class="form-control" rows="5" placeholder="Lütfen bir yorum içeriği giriniz." id="commentStr" name="CommentStr" style="height: 200px"></textarea>
                            <label for="commentStr">Yorum İçeriği</label>
                        </div>
                    </div>
                    <input type="hidden" name="BookGuid" value="@Model.BookGuid"/>

                    <div class="mb-3 text-end">
                        <button type="submit" class="btn btn-warning">Yorumu Gönder</button>
                    </div>
                </div>
            </form>
        }

        @foreach (var comment in Model.Comments.OrderBy(o => o.Id).ToList())
        {
            <div class="card mb-3 rounded-3">
                <div class="card-header" style="font-size: 0.90rem!important;">
                    <strong>Kullanıcı: </strong> @comment.AppUser.UserName &emsp; | &emsp; <strong>Yorum Tarihi:</strong> @Model.CreatedDate.ToString("yyyy-MM-dd HH:mm")
                </div>
                <div class="card-body">
                    <h6 class="card-title fs-6">@comment.CommentHeader</h6>
                    <p class="card-text p-3">@comment.CommentStr</p>
                </div>

                @* @if (User.IsInRole("Admin,Editor") || User.FindFirst("UserId").Value == comment.AppUser.Id) *@
                @if (User.IsInRole("Admin") || User.IsInRole("Editor") || comment.AppUser.Id == User.Claims.FirstOrDefault(p => p.Type == ClaimTypes.NameIdentifier)?.Value)
                {
                    <a asp-action="BookCommentDelete" asp-controller="Book" asp-route-id="@string.Concat(comment.CommentGuid.ToString(), "--", Model.BookGuid)" class="btn btn-sm btn-danger m-2" style="width: 10rem;">Yorumu Sil</a>
                }
            </div>
        }

    </div>
</div>