@using System.Security.Claims
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<CommentListByAppUserIdVM>

@{
    ViewData["Title"] = "Kitap Gurmesi | Yorumlar";
}

@foreach (var data in Model)
{
    <div class="card mb-3 rounded-3">
        <div class="card-header" style="font-size: 0.90rem!important;">
            <strong>Kullanıcı: </strong> - &emsp;@User.Identity?.Name | &emsp; <strong>Yorum Tarihi:</strong> @data.Comment.CreatedDate.ToString("yyyy-MM-dd HH:mm")
        </div>
        <div class="card-body">
            <h6 class="card-title fs-6">@data.Comment.CommentHeader</h6>
            <p class="card-text p-3">@data.Comment.CommentHeader</p>
        </div>
        
        <a asp-action="BookDetails" asp-controller="Book" asp-route-id="@data.BookGuid" class="btn btn-sm btn-secondary m-2" style="width: 10rem;">Detay Göster</a>

        @* @if (User.IsInRole("Admin,Editor") || User.FindFirst("UserId").Value == comment.AppUser.Id) *@
        @if (User.IsInRole("Admin") || User.IsInRole("Editor") || data.Comment.AppUser.Id == User.Claims.FirstOrDefault(p => p.Type == ClaimTypes.NameIdentifier)?.Value)
        {
            <a asp-action="BookCommentDelete" asp-controller="Book" asp-route-id="@string.Concat(data.Comment.CommentGuid.ToString(), "--", data.BookGuid)" class="btn btn-sm btn-danger m-2" style="width: 10rem;">Yorumu Sil</a>
        }
    </div>
}