@model BookListByCategoryVM

@{
    ViewData["Title"] = "Kitap Gurmesi | Kitaplar";
}

@if (User.Identity.IsAuthenticated)
{
    if (User.IsInRole("Admin") || User.IsInRole("Editor"))
    {
        <a asp-controller="Book" asp-action="BookAdd" class="btn btn-warning mb-4">Yeni Kitap Ekle</a>
    }
}

@foreach (var data in Model.BookAndAuthors)
{
    <div class="card mb-3">
        <div class="card-header">
            <strong>Kategori :</strong> @Model.CategoryName | <strong>Yazar :</strong> @string.Concat(data.Author?.Name, " ", data.Author?.Surname) 
        </div>
        <div class="card-body">
            <h5 class="card-title fs-6 mb-3" style="font-size: 0.90rem !important;"><strong>Kitap:</strong> @data.Book.Name &emsp; | &emsp; <strong>EAN</strong> @data.Book.EanCode</h5>
            <p class="card-text">@data.Book.Description</p>
            
            <a asp-action="BookDetails" asp-controller="Book" asp-route-id="@data.Book.BookGuid" class="btn btn-sm btn-outline-primary">Detay Ve Yorumlar</a>
        </div>
    </div>
}
